Flask==3.0.3
Flask-SQLAlchemy==3.1.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
ipython==8.12.3
itsdangerous==2.2.0
Jinja2==3.1.4
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
matplotlib==3.9.1
matplotlib-inline==0.1.7
numpy==2.0.0
pandas==2.3.1
pickleshare==0.7.5
pillow==10.3.0
python-dateutil==2.9.0.post0
pyttsx3==2.90
pytweening==1.2.0
pytz==2025.2
pywin32==306
pywin32-ctypes==0.2.2
tzdata==2024.2
Werkzeug==3.0.6
scikit-learn